<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.remindermatrix">
    <application
        android:name=".App"
        android:label="ReminderMatrix"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
